export TASTYTRADE_SANDBOX_ACCOUNT='YOUR_SANDBOX_ACCOUNT_NUMBER'
export TASTYTRADE_SANDBOX_USERNAME='YOUR_SANDBOX_EMAIL'
export TASTYTRADE_SANDBOX_PASSWORD='YOUR_SANDBOX_PASSWORD'
export TASTYTRADE_SANDBOX_API_BASE_URL='https://api.cert.tastytrade.com'
